* {
	font-family: 'Open Sans Light', sans-serif;
}


.home-post-list {
	min-height: 50vh;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .20);
}

.post-list {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .20);
	border-radius: 10px;
}

.post-list:hover {

}

.post-list-header > p {
	color: grey;
}

.post-list-content {
	text-align: justify;
}

